html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(graveyard-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gypsy";
    src: url("Gypsy_Curse.ttf") format("truetype");
}

#fancygate1 {
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 7;
}

#fancygate2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: rotateY(180deg);
    z-index: 7;
}

@keyframes gm1 {
    from {right: 50%;} to {right: 95%;}
}

@keyframes gm2 {
    from {left: 50%;} to {left: 95%;}
}

#hs1 {
    width: 16%;
    position: absolute;
    z-index: 5;
    left: 2%;
    bottom: 0%;
    display: none;
}

#hs2 {
    width: 16%;
    position: absolute;
    z-index: 5;
    left: 22%;
    bottom: 0%;
    display: none;
}

#hs3 {
    width: 16%;
    position: absolute;
    z-index: 5;
    left: 42%;
    bottom: 0%;
    display: none;
}

#hs4 {
    width: 16%;
    position: absolute;
    z-index: 5;
    left: 62%;
    bottom: 0%;
    display: none;
}

#hs5 {
    width: 16%;
    position: absolute;
    z-index: 5;
    left: 82%;
    bottom: 0%;
    display: none;
}

#hs6 {
    width: 16%;
    position: absolute;
    z-index: 4;
    left: 12%;
    bottom: 10%;
    display: none;
}

#hs7 {
    width: 16%;
    position: absolute;
    z-index: 4;
    left: 32%;
    bottom: 10%;
    display: none;
}

#hs8 {
    width: 16%;
    position: absolute;
    z-index: 4;
    left: 52%;
    bottom: 10%;
    display: none;
}

#hs9 {
    width: 16%;
    position: absolute;
    z-index: 4;
    left: 72%;
    bottom: 10%;
    display: none;
}

#hs10 {
    width: 16%;
    position: absolute;
    z-index: 3;
    left: 0%;
    bottom: 25%;
    display: none;
}

#hs11 {
    width: 16%;
    position: absolute;
    z-index: 3;
    left: 17%;
    bottom: 25%;
    display: none;
}

#hs12 {
    width: 16%;
    position: absolute;
    z-index: 3;
    left: 37%;
    bottom: 25%;
    display: none;
}

#hs13 {
    width: 16%;
    position: absolute;
    z-index: 3;
    left: 57%;
    bottom: 25%;
    display: none;
}

#hs14 {
    width: 16%;
    position: absolute;
    z-index: 3;
    left: 77%;
    bottom: 25%;
    display: none;
}

@keyframes ghostie {
    0% {transform: translateY(0);}
    50% {transform: translateY(10%);}
    100% {transform: translateY(0);}
}

#nextroom {
    color: maroon;
    display: none;
    background-color: black;
    font-size: 30px;
    font-family: "Gypsy";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    text-decoration: none;
    text-align: center;
}

#gateinstruct {
    margin: 0;
    padding: 0;
    color: maroon;
    display: block;
    background-color: black;
    font-family: "Gypsy";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    font-size: 30px;
    text-align: center;
}